.App {
  display: flex;
  padding: 40px;
  flex-direction: column;
}
.snake-game {
  width: 100%;
}

.map {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  width: 700px;
  height: 700px;
}

.map > div {
  border: 1px solid lightgray;
}
.map > div.snake-body {
  background-color: cadetblue;
}
.map > div.snake-head {
  background-color: rgb(194, 47, 47);
}
